<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildDate</key>
	<string>Wed Apr 24 10:18:54 PDT 2024</string>
	<key>BuildHost</key>
	<string>USHOLJBA1-ML</string>
	<key>GITBranch</key>
	<string>release/3.5.3</string>
	<key>GITComment</key>
	<string>Added Ticketmaster quick switching config</string>
	<key>GITDate</key>
	<string>Mon Apr 22 12:28:53 2024 -0700</string>
	<key>GITRevision</key>
	<string>c9534ccff3254fc8636697ce76cb723658e7eca2</string>
	<key>MarketingVersion</key>
	<string>1.7.1</string>
</dict>
</plist>
