<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildDate</key>
	<string>Fri Feb  2 16:36:17 PST 2024</string>
	<key>BuildHost</key>
	<string>USHOLJBA1-ML</string>
	<key>GITBranch</key>
	<string>master</string>
	<key>GITComment</key>
	<string>Merge branch Feature-PSDK-10491-Allow-longer-section-value-on-barcode-screen into master</string>
	<key>GITDate</key>
	<string>Fri Feb 2 23:39:30 2024 +0000</string>
	<key>GITRevision</key>
	<string>8a0377049e224e0c1751943142ce833d0d1c2092</string>
	<key>MarketingVersion</key>
	<string>1.6.1</string>
</dict>
</plist>
