<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildDate</key>
	<string>Thu Apr  2 14:50:31 PDT 2026</string>
	<key>BuildHost</key>
	<string>LNEH7VYVF25HY</string>
	<key>BuildVariant</key>
	<string></string>
	<key>GITBranch</key>
	<string>release/3.17.0</string>
	<key>GITComment</key>
	<string>PSDK-0 Removed “rc1” variant for release</string>
	<key>GITDate</key>
	<string>Thu Apr 2 14:39:12 2026 -0700</string>
	<key>GITRevision</key>
	<string>a92fbbca79a6eeb582d305267e4e2b21ea4548d2</string>
	<key>MarketingVersion</key>
	<string>1.12.0</string>
</dict>
</plist>
