<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildDate</key>
	<string>Fri Jun 30 18:08:20 PDT 2023</string>
	<key>BuildHost</key>
	<string>USHOLJBA1-ML</string>
	<key>GITBranch</key>
	<string>release/3.0.0</string>
	<key>GITComment</key>
	<string>PSDK-9341 Use transfers to make sent tickets cards</string>
	<key>GITDate</key>
	<string>Fri Jun 30 17:56:09 2023 -0700</string>
	<key>GITRevision</key>
	<string>cd6144bb1df61fac9ab96966f4b200a4482a9d4e</string>
	<key>MarketingVersion</key>
	<string>3.0.0</string>
</dict>
</plist>
