<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildDate</key>
	<string>Tue Mar 17 09:29:56 PDT 2026</string>
	<key>BuildHost</key>
	<string>LNEH7VYVF25HY</string>
	<key>BuildVariant</key>
	<string>beta2</string>
	<key>GITBranch</key>
	<string>release/3.17.0</string>
	<key>GITComment</key>
	<string>PSDK-0 Update TMSwiftProtobuf scheme</string>
	<key>GITDate</key>
	<string>Tue Mar 17 09:19:47 2026 -0700</string>
	<key>GITRevision</key>
	<string>f1c8d20ac61fbc6c1a81a25d0e4f9227670d0070</string>
	<key>MarketingVersion</key>
	<string>3.17.0</string>
</dict>
</plist>
