<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildDate</key>
	<string>Fri Nov  1 11:56:20 GMT 2024</string>
	<key>BuildHost</key>
	<string>UKFARTMML9677</string>
	<key>GITBranch</key>
	<string>release/3.9.0</string>
	<key>GITComment</key>
	<string>PSDK-13627 Fixed MFA logic for Archtics events</string>
	<key>GITDate</key>
	<string>Thu Oct 31 10:11:37 2024 -0700</string>
	<key>GITRevision</key>
	<string>a5df558c164ceaf4ae725dfb04c4c826c4a9852f</string>
	<key>MarketingVersion</key>
	<string>3.9.0</string>
</dict>
</plist>
