<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildDate</key>
	<string>Tue May  7 10:48:01 PDT 2024</string>
	<key>BuildHost</key>
	<string>USHOLJBA1-ML</string>
	<key>GITBranch</key>
	<string>master</string>
	<key>GITComment</key>
	<string>PSDK-11683 Added safeIsInspectable WKWebView extension</string>
	<key>GITDate</key>
	<string>Tue May 7 10:45:36 2024 -0700</string>
	<key>GITRevision</key>
	<string>f067feb83b451137af85d87cf2826cd36dc4b61d</string>
	<key>MarketingVersion</key>
	<string>1.3.2</string>
</dict>
</plist>
