<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildDate</key>
	<string>Fri Mar  8 18:23:26 PST 2024</string>
	<key>BuildHost</key>
	<string>USHOLJBA1-ML</string>
	<key>GITBranch</key>
	<string>master</string>
	<key>GITComment</key>
	<string>Added FakeDataSession.cannedResultArray to play many responses in a row</string>
	<key>GITDate</key>
	<string>Fri Mar 8 18:20:28 2024 -0800</string>
	<key>GITRevision</key>
	<string>3be4bde0dfe8829780e8e8d489db5aa2289b2931</string>
	<key>MarketingVersion</key>
	<string>1.2.0</string>
</dict>
</plist>
