<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildDate</key>
	<string>Wed May 14 12:46:42 PDT 2025</string>
	<key>BuildHost</key>
	<string>LNEH7VYVF25HY</string>
	<key>GITBranch</key>
	<string>master</string>
	<key>GITComment</key>
	<string>Do not add cookies to URLSession headers by default</string>
	<key>GITDate</key>
	<string>Wed May 14 12:44:26 2025 -0700</string>
	<key>GITRevision</key>
	<string>66a0a754a323fa13b0891264e49219a224756dc4</string>
	<key>MarketingVersion</key>
	<string>1.4.2</string>
</dict>
</plist>
