<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildDate</key>
	<string>Wed May 28 13:38:07 PDT 2025</string>
	<key>BuildHost</key>
	<string>LNEH7VYVF25HY</string>
	<key>BuildVariant</key>
	<string></string>
	<key>GITBranch</key>
	<string>release/3.13.0</string>
	<key>GITComment</key>
	<string>Merge branch Fix-PSDK-16143-Never-Ending-Spinner into master</string>
	<key>GITDate</key>
	<string>Wed May 28 17:26:54 2025 +0100</string>
	<key>GITRevision</key>
	<string>2a489819e749515957d998dfdcb5919030fffc9e</string>
	<key>MarketingVersion</key>
	<string>1.29.0</string>
</dict>
</plist>
