<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildDate</key>
	<string>Fri Dec 19 10:11:49 PST 2025</string>
	<key>BuildHost</key>
	<string>LNEH7VYVF25HY</string>
	<key>BuildVariant</key>
	<string></string>
	<key>GITBranch</key>
	<string>release/3.15.0</string>
	<key>GITComment</key>
	<string>PSDK-15138 Update translations via CI pipeline</string>
	<key>GITDate</key>
	<string>Fri Dec 19 15:55:08 2025 +0000</string>
	<key>GITRevision</key>
	<string>eac909ffaf1b51815a2c93f280d34f4a8769ca88</string>
	<key>MarketingVersion</key>
	<string>1.29.1</string>
</dict>
</plist>
