<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildDate</key>
	<string>Wed May 28 13:15:36 PDT 2025</string>
	<key>BuildHost</key>
	<string>LNEH7VYVF25HY</string>
	<key>GITBranch</key>
	<string>release/3.3.1</string>
	<key>GITComment</key>
	<string>Updated for latest TMFoundation and TMAuthentication changes, dropped iOS 15 support</string>
	<key>GITDate</key>
	<string>Wed May 28 13:08:53 2025 -0700</string>
	<key>GITRevision</key>
	<string>63d41c174c23630022a18e32295c8c53c9629652</string>
	<key>MarketingVersion</key>
	<string>3.3.1</string>
</dict>
</plist>
