<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildDate</key>
	<string>Thu Oct 12 13:41:10 PDT 2023</string>
	<key>BuildHost</key>
	<string>USHOLJBA1-ML</string>
	<key>GITBranch</key>
	<string>release/2.0.3</string>
	<key>GITComment</key>
	<string>Update to TicketmasterFoundation 0.9.6 (UALPageView fix)</string>
	<key>GITDate</key>
	<string>Thu Oct 12 13:21:58 2023 -0700</string>
	<key>GITRevision</key>
	<string>4087d3732c4e819c326ca13a02852c767288f6d7</string>
	<key>MarketingVersion</key>
	<string>2.0.3</string>
</dict>
</plist>
