<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildDate</key>
	<string>Tue Aug 19 11:05:25 PDT 2025</string>
	<key>BuildHost</key>
	<string>LNEH7VYVF25HY</string>
	<key>BuildVariant</key>
	<string></string>
	<key>GITBranch</key>
	<string>master</string>
	<key>GITComment</key>
	<string>PSDK-0 Fixed issue with re-configuring constantly (LN usage)</string>
	<key>GITDate</key>
	<string>Tue Aug 19 10:58:51 2025 -0700</string>
	<key>GITRevision</key>
	<string>489db446f89d5afaca39778d55fae50aa1526b4f</string>
	<key>MarketingVersion</key>
	<string>3.14.6</string>
</dict>
</plist>
