<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildDate</key>
	<string>Wed Jun 28 16:38:53 PDT 2023</string>
	<key>BuildHost</key>
	<string>USHOLJBA1-ML</string>
	<key>GITBranch</key>
	<string>master</string>
	<key>GITComment</key>
	<string>PSDK-9318 Terms of Use Acceptance Required Missing</string>
	<key>GITDate</key>
	<string>Wed Jun 28 16:35:51 2023 -0700</string>
	<key>GITRevision</key>
	<string>6e00d97c81c49b530fe84257a0a85cf23ed04194</string>
	<key>MarketingVersion</key>
	<string>0.0.13</string>
</dict>
</plist>
