<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildDate</key>
	<string>Thu Jul 20 17:13:41 PDT 2023</string>
	<key>BuildHost</key>
	<string>USHOLJBA1-ML</string>
	<key>GITBranch</key>
	<string>master</string>
	<key>GITComment</key>
	<string>Improved Spanish translations</string>
	<key>GITDate</key>
	<string>Thu Jul 20 17:11:06 2023 -0700</string>
	<key>GITRevision</key>
	<string>cba90ddc04f967cd291282fecbf6861328038333</string>
	<key>MarketingVersion</key>
	<string>0.0.17</string>
</dict>
</plist>
