<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildDate</key>
	<string>Fri Jun 30 15:57:24 PDT 2023</string>
	<key>BuildHost</key>
	<string>USHOLJBA1-ML</string>
	<key>GITBranch</key>
	<string>Epic-RetailDevApp</string>
	<key>GITComment</key>
	<string>Clone repo using SSH, not HTTP</string>
	<key>GITDate</key>
	<string>Fri Jun 30 15:51:27 2023 -0700</string>
	<key>GITRevision</key>
	<string>d2158320b85f0fe29397f008d088ca24b93be2b7</string>
	<key>MarketingVersion</key>
	<string>1.5.0</string>
</dict>
</plist>
