<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildDate</key>
	<string>Thu Nov 16 10:30:21 PST 2023</string>
	<key>BuildHost</key>
	<string>USHOLJBA1-ML</string>
	<key>GITBranch</key>
	<string>release/2.0.6</string>
	<key>GITComment</key>
	<string>Updated Retail SDK with new Authentication 3.3.0 interface</string>
	<key>GITDate</key>
	<string>Thu Nov 16 10:24:52 2023 -0800</string>
	<key>GITRevision</key>
	<string>88ca08e3834cce3f39d38e30855cc9126391e8f9</string>
	<key>MarketingVersion</key>
	<string>2.0.6</string>
</dict>
</plist>
