<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildDate</key>
	<string>Tue Aug 19 19:16:36 PDT 2025</string>
	<key>BuildHost</key>
	<string>LNEH7VYVF25HY</string>
	<key>BuildVariant</key>
	<string>RC1</string>
	<key>GITBranch</key>
	<string>Feature-PSDK-16819-UpdatedNetworking</string>
	<key>GITComment</key>
	<string>PSDK-16819 Updated networking (TMFoundation 1.5.0)</string>
	<key>GITDate</key>
	<string>Tue Aug 19 18:54:32 2025 -0700</string>
	<key>GITRevision</key>
	<string>1a234a1265c35cdad24f429bd1b44de6eb1f053c</string>
	<key>MarketingVersion</key>
	<string>3.7.0</string>
</dict>
</plist>
