<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildDate</key>
	<string>Wed Mar  4 11:00:13 PST 2026</string>
	<key>BuildHost</key>
	<string>LNEH7VYVF25HY</string>
	<key>BuildVariant</key>
	<string></string>
	<key>GITBranch</key>
	<string>release/4.0.1</string>
	<key>GITComment</key>
	<string>Merge branch MA-12878-View-All-CTA-for-All-Modules into master</string>
	<key>GITDate</key>
	<string>Tue Mar 3 19:42:59 2026 +0000</string>
	<key>GITRevision</key>
	<string>7a5f994510f0bee879448873c09b816e64f287a4</string>
	<key>MarketingVersion</key>
	<string>4.0.1</string>
</dict>
</plist>
