<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildDate</key>
	<string>Mon Mar 16 18:40:42 PDT 2026</string>
	<key>BuildHost</key>
	<string>LNEH7VYVF25HY</string>
	<key>BuildVariant</key>
	<string></string>
	<key>GITBranch</key>
	<string>release/4.0.1</string>
	<key>GITComment</key>
	<string>Re-added old methods, marked as deprecated for compatability</string>
	<key>GITDate</key>
	<string>Mon Mar 16 17:10:24 2026 -0700</string>
	<key>GITRevision</key>
	<string>24aceaae9614b79484f2931aa2945b2d748301ed</string>
	<key>MarketingVersion</key>
	<string>4.0.1</string>
</dict>
</plist>
