<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildDate</key>
	<string>Fri Jun  7 14:44:21 PDT 2024</string>
	<key>BuildHost</key>
	<string>USHOLJBA1-ML</string>
	<key>GITBranch</key>
	<string>release/3.0.3</string>
	<key>GITComment</key>
	<string>Bump up version to 3.0.3</string>
	<key>GITDate</key>
	<string>Wed Jun 5 17:22:04 2024 -0700</string>
	<key>GITRevision</key>
	<string>214e80256129c8ae30470bee052967ddfde0959a</string>
	<key>MarketingVersion</key>
	<string>3.0.3</string>
</dict>
</plist>
